{% extends 'base.html' %}
{% load static %}

{% block title %}Home - Loan Prediction{% endblock %}

{% block content %}
<div class="home-info"> 
<div class="title-block">
    <h1 class="title-desc">Welcome to the <span class="title">Loan Prediction System</span> </h1>
    <p>Use this tool to check whether your loan application is likely to be approved.
    Select an option from the menu to get started or press the button below</p>
    <button><a  href="{% url 'predict_loan' %}">Try it</a></button>
    </div>
    <div class="graph-block">
    <img src="{% static 'loan_app/feature_importance.png' %}" alt="Feature Distribution">
    </div>
    </div>
{% endblock %}
